<template>
  <div id="app" class="fillcontain">
    <router-view></router-view>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  components:{

  },
  methods:{

  },
  computed:mapState(['progress']),
  mounted(){
    
  }
}
</script>

<style lang="less">
@import './assets/css/common';
</style>
