<template lang="html">
		  <el-menu :default-active="defaultActive" style="min-height: 100%;" theme="dark" router>
			  <template v-for="(item ,index) in menus" v-if="!item.hasChild" >
				  <el-menu-item :index="item.path"><i :class="item.icon"></i>{{item.menuName}}</el-menu-item>
			  </template>
			  <template v-for="(item ,index) in menus" v-if="item.hasChild">
				  <el-submenu :index="item.index">
						<template slot="title"><i :class="item.icon"></i>{{item.menuName}}</template>
						<el-menu-item v-for="(itemChild ,childIndex) in item.children" :index="itemChild.path" :key="childIndex">{{itemChild.menuName}}</el-menu-item>
					</el-submenu>
			  </template>
		</el-menu>		
</template>


<script>
	import {menuItems} from '../../config/menu'
    export default{
        data(){
            return {
				menus:[]
			}
		},
		created(){
			this.menus=menuItems
		},
        computed: {
			defaultActive: function(){
				return this.$route.path.replace('/', '');
			}
		},
    }
</script>