<template>
    <div class="header_container">

		<el-breadcrumb separator="/">
			<el-breadcrumb-item :to="{ path: '/admin' }">首页</el-breadcrumb-item>
			<el-breadcrumb-item v-for="(item, index) in $route.meta.menu" :key="index">{{item}}</el-breadcrumb-item>
		</el-breadcrumb>
		<el-dropdown @command="handleCommand" menu-align='start'> 
			<img :src="defaultAvatar" class="avator">
			<el-dropdown-menu slot="dropdown">
				<el-dropdown-item command="home">首页</el-dropdown-item>
				<el-dropdown-item command="singout">退出</el-dropdown-item>
			</el-dropdown-menu>
		 </el-dropdown>
    </div>
</template>

<script>
	import {defaultAvatar} from '../../assets/img/default.jpg'
	import {mapActions, mapState} from 'vuex'

    export default {
    	data(){
    		return {
    			defaultAvatar:defaultAvatar,
    		}
    	},
    	created(){
    		// if (this.adminInfo && !this.adminInfo.id) {
    		// 	this.getUserInfo()
    		// }
    	},
    	computed: {
    		...mapState(['userInfo']),
    	},
		methods: {
			...mapActions(['getUserInfo']),
			async handleCommand(command) {
				console.log(command)
				if (command == 'home') {
					this.$router.push('/admin');
				}else if(command == 'singout'){
					this.$store.dispatch('UserLogout')
				}
			},
		}
    }
</script>

<style lang="less">
	@import '../../assets/css/mixin';
	.header_container{
		background-color: #EFF2F7;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 20px;
	}
	.avator{
		.wh(36px, 36px);
		border-radius: 50%;
		margin-right: 37px;
	}
	.el-dropdown-menu__item{
        text-align: center;
    }
</style>
