<template>
    <div>
        <p>{{message1}}</p>
        <p>{{message2}}</p>
        <p>{{message}}  {{name}}, {{age}}</p>
    </div>
</template>

<script>


    export default {
        props:['message','name','age'],
    	data(){
    		return {
    			message1: this.message +'用data函数对数据进行处理的结果'
    		}
        },
        computed:{
            message2 : function(){
                return this.message + '用计算属性选项对数据进行处理'
            } 
        },
    	created(){
    		// if (this.adminInfo && !this.adminInfo.id) {
    		// 	this.getUserInfo()
    		// }
    	}
    }
</script>

<style lang="less">

</style>
