
<template>
    <div :class="alertClass" v-show="show">
        <slot name="alert">
            <strong>Default!</strong> Hello World~
        </slot>
        <slot>
            <strong>Default!</strong> Hello World~
        </slot>
        <span class="Alert_close" @click="show = false">x</span>
    </div>
</template>



<script>
    export default {
        props:['type'],
    	data(){
    		return {
    			show:true
    		}
        },
        computed:{
            alertClass : function(){
                return {
                    'Alert--Success' :this.type =='success',
                    'Alert--Warning' :this.type =='warning',
                    'Alert--Error' :this.type =='error',
                }
            } 
        }
    }
</script>

<style >

.Alert_close{
    font-weight: bold;
    cursor: pointer;
}
.Alert--Success{
    color:green
}
.Alert--Warning{
    color:#aa0
}
.Alert--Error{
    color:red
}

</style>
