<template>
  <div>
     <head-top></head-top>
     <el-row style="margin-top:20px">
         <el-col :span="12" :offset="4">
              <el-form :model="formData" :rules="rules" ref="formData" label-width="110px" class="demo-formData">
                 <el-form-item label="店铺名称" prop="name">
                     <el-input v-model="formData.name"></el-input>
                 </el-form-item>
                 <el-form-item label="详细地址" prop="address">
                     <el-autocomplete v-model="formData.address" placeholder="请输入地址" style="width:100%;" @select="addressSelect"></el-autocomplete>
                    <span>当前城市:{{city.name}}</span>
                 </el-form-item>
                 <el-form-item label="联系电话" prop="phone">
						<el-input v-model.number="formData.phone" maxLength="11"></el-input>
					</el-form-item>
					<el-form-item label="店铺简介" prop="description">
						<el-input v-model="formData.description"></el-input>
					</el-form-item>
					<el-form-item label="店铺标语" prop="promotion_info">
						<el-input v-model="formData.promotion_info"></el-input>
					</el-form-item>
                    <el-form-item label="店铺分类">
						<el-cascader
						  :options="categoryOptions"
						  v-model="selectedCategory"
						  change-on-select
						></el-cascader>
					</el-form-item>
					<el-form-item label="店铺特点" style="white-space: nowrap;">
						<span>品牌保证</span>
						<el-switch on-text="" off-text="" v-model="formData.is_premium"></el-switch>
						<span>蜂鸟专送</span>
						<el-switch on-text="" off-text="" v-model="formData.delivery_mode"></el-switch>
						<span>新开店铺</span>
						<el-switch on-text="" off-text="" v-model="formData.new"></el-switch>
					</el-form-item>
					<el-form-item style="white-space: nowrap;">
						<span>外卖保</span>
						<el-switch on-text="" off-text="" v-model="formData.bao"></el-switch>
						<span>准时达</span>
						<el-switch on-text="" off-text="" v-model="formData.zhun"></el-switch>
						<span>开发票</span>
						<el-switch on-text="" off-text="" v-model="formData.piao"></el-switch>
					</el-form-item>
					<el-form-item label="配送费" prop="float_delivery_fee">
						<el-input-number v-model="formData.float_delivery_fee" :min="0" :max="20"></el-input-number>
					</el-form-item>
					<el-form-item label="起送价" prop="float_minimum_order_amount">
						<el-input-number v-model="formData.float_minimum_order_amount" :min="0" :max="100"></el-input-number>
					</el-form-item>
					<el-form-item label="营业时间" style="white-space: nowrap;">
						<el-time-select
							placeholder="起始时间"
							v-model="formData.startTime"
							:picker-options="{
							start: '05:30',
							step: '00:15',
							end: '23:30'
							}">
						</el-time-select>
						<el-time-select
							placeholder="结束时间"
							v-model="formData.endTime"
							:picker-options="{
							start: '05:30',
							step: '00:15',
							end: '23:30',
							minTime: formData.startTime
							}">
						</el-time-select>
					</el-form-item>
					<el-form-item label="上传店铺头像">
						<el-upload
						  class="avatar-uploader"
						  :action="'http://localhost:3009/api/shop/addImg'"
						  :show-file-list="true"
						  :on-success="handleShopAvatarScucess"
						  :before-upload="beforeAvatarUpload">
						  <img v-if="formData.image_path" :src="urlPath + formData.image_path" class="avatar">
						  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
						</el-upload>
					</el-form-item>
					<el-form-item class="button_submit">
						<el-button type="primary" @click="submitForm('formData')">立即创建</el-button>
					</el-form-item>
             </el-form>
         </el-col>
     </el-row>
  </div>
</template>

<script>
import {baseImgPath} from '../../config/env'
	import headTop from '../../components/backEnd/vheader'
	import api from '../../api'
	import MsgAlert from '../../store/MsgAlert'
    export default {
        data(){
            return {
				urlPath:baseImgPath,
                city:{},
                formData: {
					name: '', //店铺名称
					address: '', //地址
					latitude: '',
					longitude: '',
					description: '', //介绍
					phone: '',
					promotion_info: '',
					float_delivery_fee: 5, //运费
					float_minimum_order_amount: 20, //起价
					is_premium: true,
					delivery_mode: true,
					new: true,
					bao: true,
					zhun: true,
					piao: true,
					startTime: '',
       	 			endTime: '',
       	 			image_path: '',
       	 			business_license_image: '',
       	 			catering_service_license_image: '',       	 			
		        },
                rules:{
                    name:[
                        {required:true,message:'请输入店铺名称',trigger:'blur'}
                    ],
                    address:[
                        {required:true,message:'请输入详细地址',trigger:'blur'}
                    ],
                    phone:[
                        {required:true,message:'请输入联系电话'},
                        {type:'number',message:'电话号码必须是数字'}]
                },
                options:[
                    {value:'满减优惠',label:'满减优惠'},
                    {value:'优惠大酬宾',label:'优惠大酬宾'},
                    {value:'新用户立减',label:'新用户立减'},
                    {value:'进店领券',label:'进店领券'},
                ],
                activityValue:'满减优惠',
                activities:[{
                    icon_name:'减',
                    name:'满减优惠',
                    description:'满30减5，满60减8'
                }],
                categoryOptions:[],
                selectedCategory:['快餐便当','简餐']
            }
        },
        components:{
			headTop
        },
        mounted(){
			this.initData()
		},
        methods:{
			initData(){
				urlPath:baseImgPath,
				this.city= "咸宁"
                // api.foodCategory().then(({data})=>{
                //      if(data.code===200){
                //          var categories= data.categories;
                //          categories.forEach(item=>{
                //              if(item.sub_categories.length){
                //                  const addnew= {
                //                      value:item.name,
                //                      label:item.name,
                //                      children:[]
                //                  }
                //                  item.sub_categories.forEach((subitem,index)=>{
                //                      if(index==0){
                //                          return
                //                      }
                //                      addnew.children.push({
                //                          value:subitem.name,
                //                          label:subitem.name
                //                      })
                //                  })
                //                  this.categoryOptions.push(addnew)
                //              }
                //          })
                //      }
                // })
            },
		    addressSelect(address){
		    	this.formData.latitude = address.latitude;
		    	this.formData.longitude = address.longitude;
		    	console.log(this.formData.latitude, this.formData.longitude)
		    },
			submitForm(formName){
				this.$refs[formName].validate((valid)=>{
					if(valid){
						api.addShop(this.formData).then(({data})=>{
							if(data.code==200){
 								$router.push({path: '/admin/shoplist'})
							}
							else{
								 MsgAlert(data.message)
							}
						})
					}
				})
			},beforeAvatarUpload(file) {
				const isRightType = (file.type === 'image/jpeg') || (file.type === 'image/png');
				const isLt2M = file.size / 1024 / 1024 < 2;
				if (!isRightType) {
					MsgAlert('上传头像图片只能是 JPG 格式!');
				}
				if (!isLt2M) {
					MsgAlert('上传头像图片大小不能超过 2MB!');
				}
				return isRightType && isLt2M;
			},
			handleShopAvatarScucess(res, file) {
				console.log(res)
				if (res.code == 200) {
					this.formData.image_path = res.filepath;
				}else{
					MsgAlert('上传图片失败！');
				}
			},
			handleBusinessAvatarScucess(res, file) {
				if (res.status == 1) {
					this.formData.business_license_image = res.image_path;
				}else{
					this.$message.error('上传图片失败！');
				}
			},
			handleServiceAvatarScucess(res, file) {
				if (res.status == 1) {
					this.formData.catering_service_license_image = res.image_path;
				}else{
					this.$message.error('上传图片失败！');
				}
			},
        }
    }
</script>


<style lang="less">
	@import '../../assets/css/mixin';
	.button_submit{
		text-align: center;
	}
	.avatar-uploader .el-upload {
	    border: 1px dashed #d9d9d9;
	    border-radius: 6px;
	    cursor: pointer;
	    position: relative;
	    overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
	    border-color: #20a0ff;
	}
	.avatar-uploader-icon {
	    font-size: 28px;
	    color: #8c939d;
	    width: 120px;
	    height: 120px;
	    line-height: 120px;
	    text-align: center;
	}
	.avatar {
	    width: 120px;
	    height: 120px;
	    display: block;
	}
	.el-table .info-row {
	    background: #c9e5f5;
	}

	.el-table .positive-row {
	    background: #e2f0e4;
	}
</style>
