<template>
  <div class="fillcontain">
      <head-top></head-top>
<div class="table_container">
            <el-table
                :data="tableData"
                highlight-current-row
                style="width: 100%">
                <el-table-column
                  type="index"
                  width="100">
                </el-table-column>
                <el-table-column
                  property="name"
                  label="店铺名称"
                  width="220">
                </el-table-column>
                <el-table-column
                  property="address"
                  label="店铺地址"
                  width="220">
                </el-table-column>
                <el-table-column
                  property="phone"
                  label="联系电话">
                </el-table-column>
            </el-table>
        </div>
  </div>
</template>


<script>
    import headTop from '../../components/backEnd/vheader'
    import api from '../../api'
    export default {
        data(){
            return {
                tableData: [{
                  name: '2016-05-02',
                  phone: '王小虎',
                  address: '上海市普陀区金沙江路 1518 弄'
                }, {
                  name: '2016-05-02',
                  phone: '王小虎',
                  address: '上海市普陀区金沙江路 1518 弄'
                }, {
                 name: '2016-05-02',
                  phone: '王小虎',
                  address: '上海市普陀区金沙江路 1518 弄'
                }, {
                  name: '2016-05-02',
                  phone: '王小虎',
                  address: '上海市普陀区金沙江路 1518 弄'
                }],
                currentRow: null,
                offset: 0,
                limit: 20,
                count: 0,
                currentPage: 1,
            }
        },
    	components: {
    		headTop,
    	},
        created(){
            this.initData();
        },
        methods:{
            initData(){
                api.shoplist().then(({data})=>{
                    if(data.code===200){
                       var list= data.shoplist;  
                       console.log(list);
                        if(list){
                        this.tableData=[];
                        list.forEach(item=>{
                            const tableData={};
                            tableData.name= item.name;
                            tableData.phone = item.phone,
                            tableData.address= item.address,
                            tableData.id= item._id
                            this.tableData.push(tableData)
                        })
                        }   
                    }
                })
                
                
            }
        }

    }
</script>

<style lang="less">
	@import '../../assets/css/mixin';
    .table_container{
        padding: 20px;
    }
</style>
