<template>
  <div class="fillcontain">
      <head-top></head-top>
      <!-- <mycomponent name='lee' message='from my component' age='20'></mycomponent> -->
<div class="table_container">
            <el-table
                :data="tableData"
                highlight-current-row
                style="width: 100%">
                <el-table-column
                  type="index"
                  width="100">
                </el-table-column>
                <el-table-column
                  property="registe_time"
                  label="注册日期"
                  width="220">
                </el-table-column>
                <el-table-column
                  property="username"
                  label="用户姓名"
                  width="220">
                </el-table-column>
                <el-table-column
                  property="lastlogin_date"
                  label="最后登录时间">
                </el-table-column>
            </el-table>
            <div class="Pagination" style="text-align: left;margin-top: 10px;">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-size="20"
                  layout="total, prev, pager, next"
                  :total="count">
                </el-pagination>
            </div>
        </div>
        <alertcomponent>
        </alertcomponent>

        <alertcomponent type="success">
            <slot>
                <strong>Success!</strong> Looks good to me
            </slot>
            
        </alertcomponent>
        <alertcomponent type="warning">
            <strong>Warning!</strong> Something not good 
        </alertcomponent>
        <alertcomponent type="error">
            <strong>Error!</strong> Oooops....
        </alertcomponent>
  </div>
</template>


<script>
    import headTop from '../../components/backEnd/vheader'
    import alertcomponent from '../../components/alert'
    import api from '../../api'
    export default {
        data(){
            return {
                tableData: [],
                currentRow: null,
                offset: 0,
                limit: 20,
                count: 0,
                currentPage: 1,
            }
        },
    	components: {
            headTop,
            alertcomponent
    	},
        created(){
            this.initData();
        },
        methods:{
            initData(){
                this.getUserCount()
                this.getUserList()  
            },
            handleSizeChange(val){
                    console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.offset = (val - 1)*this.limit;
                this.getUserList()
            },
            getUserList(){
                api.userlist({offset:this.offset,limit:this.limit}).then(({data})=>{
                    if(data.code===200){
                       var users= data.userlist;  
                       console.log(users);
                        if(users){
                        this.tableData=[];
                        users.forEach(item=>{
                            const tableData={};
                            tableData.username= item.user_name;
                            tableData.registe_time = item.create_time,
                            tableData.lastlogin_date= item.last_login,
                            tableData.id= item._id
                            this.tableData.push(tableData)
                        })
                        }   
                    }
                })
            },
            getUserCount(){
                console.log('get user count')
                api.getusercount().then(({data})=>{
                    console.log('done')
                    console.log(data)
                    if(data.code==200){
                        console.log(data.count)
                        this.count=data.count;
                    }else{
                        throw new Error('获取数据失败')
                    }
                })
            }
        }
    }
</script>

<style lang="less">
	@import '../../assets/css/mixin';
    .table_container{
        padding: 20px;
    }
</style>
