{% extends './layout.html' %}
{% block title %} index {% endblock %}
{% block content %}
    <div>
        {{message}}
            <h1>hello swig</h1>

        <h1>pagename {{user.name}}</h1>
     <div>
{% endblock %}

