<!DOCTYPE html>

<html>
    <head>
            <link href="/static/css/bootstrap.css" rel="stylesheet">
            <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
            <link href="/static/css/site.css" rel="stylesheet">

        <title>My First Pages</title>
    </head>
    <body>
        <header class="main-header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MyDemo</a>
                </div>
                <div class="collapse navbar-collapse pull-left">
                        <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">首页</a>
                                </li>
                                <li class="">
                                        <a href="#">待办事项  </a>
                                    </li>
                                
                            </ul>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                            {% if user %}
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     个人中心 <b class="caret"></b>
                                 </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="#">定制工具</a></li>
                                     <li class="divider"></li>
                                     <li><a href="#">修改个人信息</a></li>
                                     <li class="divider"></li>
                                     <li><a href="/account/logout/">登出</a></li>
                                 </ul>
                             </li>
            
                             {% else %}
                             <li><a href="/account/login/">登陆</a></li>
                             <li><a href="/account/register/">注册</a></li>
                             {%endif%}
                    </ul>
                </div>
            </div>
           
        </nav>
    </header>
        <div class="container body-content">
            <div class="jumbotron">
                {% block content%}
                <p> This is the page demo content</p>

                {%endblock%}
            </div>
           
        </div>

        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script> 
        {% block scripts%}
        {% endblock%}
    </body>

</html>