<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>用户注册</title>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/register.css" />    
  
</head>

<body>
    <div class="wrapper">
        <form class="form-signin" method="post">       
        <h2 class="form-signin-heading">Sign Up</h2>
        {% include "message.html" %}
        <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="User Account" required="*required" autofocus="" />
                <input type="password" class="form-control" name="password" placeholder="Password" required="*required"/>   
                <input type="password" class="form-control" name="passwordconf" placeholder="Confirm Password" required="*must be same with password"/>     
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>   
        </form>
  </div>
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script> 
</body>

</html>
